<div id="<%= dom_id cliente %>">
  <p>
    <strong>Email:</strong>
    <%= cliente.email %>
  </p>

  <p>
    <strong>Password digest:</strong>
    <%= cliente.password_digest %>
  </p>

  <p>
    <strong>Nombre:</strong>
    <%= cliente.nombre %>
  </p>

</div>
