<div class="container mt-4 p-5">
<h1>Perfil</h1>

<div class="container mt-4 border border-2 rounded rounded-2 p-3 fs-5" >
  <p>
    <strong>Nombre: </strong>
    <%= @cliente.nombre %>
  </p>
  <p>
    <strong>Email: </strong>
    <%= @cliente.email %>
  </p>
  <p>
    <strong>Cliente desde: </strong>
    <%= @cliente.created_at.strftime "%d/%m/%Y" %>
  </p>  
  <%= link_to "Ver mis pedidos", pedidos_path %>
</div>

</div>




