<h1 class="text-center m-3">Editar cliente</h1>

<div class="container">
<%= render "form", cliente: @cliente %>

<br>

<div>
  <%= link_to "Muestra este cliente", [:admin, @cliente] %> |
  <%= link_to "Vuelve a lista de clientes", admin_clientes_path %>
</div>
</div>


