<div class="container mt-4 p-5">
<h1>Contáctanos</h1>

<div class="container mt-4 border border-2 rounded rounded-2 p-3 fs-5" >
    <p>Si tienes problemas con la página, puedes mirar en la <a href="<%= faq_path %>">sección de preguntas frecuentes</a> o contactarnos con una de las siguientes opciones: </p>
  <p>Email: <a href="#">contacta@tdiscos.com</a></p>
  <p>Teléfono: <strong>+34 900 99 90 00</strong></p>
</div>

</div>