<div class="bg-dark" style=" padding: 100px 50px; background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(<%= image_path("banner.jpeg") %>); background-position: bottom; background-size: cover">
    <h1 class="display-1 text-white text-center p-5" >Explora el catálogo de discos</h1>
    <div class="d-flex justify-content-center">
    <a class="btn btn-info btn-lg text-white" href="<%= discos_path %>">Explorar</a>
    </div>

    
    
</div>

<div  class="container m-auto mt-5">
    <div class="row row-cols-2 row-cols-md-3 row-cols-lg-4 g-3">
    <% @discos.each do |disco| %>
    <div class="col">
      <%= render disco %>
    </div>
    <% end %>
    </div>
</div>
