<div id="<%= dom_id artista %>">
  <p>
    <strong>Nombre:</strong>
    <%= artista.nombre %>
  </p>

  <p>
    <strong>Fecha nacimiento:</strong>
    <%= artista.fecha_nacimiento %>
  </p>

  <p>
    <strong>Procedencia:</strong>
    <%= artista.procedencia %>
  </p>

</div>
