<div id="<%= dom_id artista %>" class="card" >
  <%= image_tag "artista.png", class: "card-img-top" %>
  <div class="card-body">
    <a class="text-decoration-none" href="<%= artista_path(artista) %>"><h6 class="card-subtitle text-truncate"><%= artista.nombre %></h6></a>
  </div>

</div>
