<div class="container mt-4 p-5">

<h1>Pedidos</h1>

<% if @pedidos.length < 1 %>
  <div class="text-center p-4 text-secondary">
    <p class="display-4">No tienes pedidos</p>
  </div>
<% end %>

<div class="d-flex flex-column " id="pedidos">
  <% @pedidos.each do |pedido| %>
    <%= render pedido %>
  <% end %>
</div>
<div class="d-flex justify-content-center align-items-center">
<%== pagy_bootstrap_nav(@pagy) if @pagy.pages > 1  %>
</div>


</div>

