<div id="<%= dom_id cancion %>">
  <p>
    <strong>Titulo:</strong>
    <%= cancion.titulo %>
  </p>

  <p>
    <strong>Disco:</strong>
    <%= cancion.disco_id %>
  </p>

  <p>
    <strong>Duracion:</strong>
    <%= cancion.duracion %>
  </p>

</div>
