<div class="container m-5">
<h1>Lista de recursos</h1>
<ul class="mt-4">
    <li><a href="<%= admin_clientes_path %>">Clientes</a></li>
    <li><a href="<%= admin_artistas_path %>">Artistas</a></li>
</ul>

</div>