

<h1 class="text-center m-3">Nueva canción</h1>

<div class="container">
<%= render "form", cancion: @cancion %>

<br>

<div>
  <%= link_to "Volver a lista de canciones", admin_canciones_path %>
</div>
</div>