<h1 class="text-center m-3">Nuevo disco pedido</h1>

<div class="container">
<%= render "form", disco_pedido: @disco_pedido %>

<br>

<div>
  <%= link_to "Volver a lista de disco pedidos", admin_disco_pedidos_path %>
</div>
</div>