

<h1 class="text-center p-3">Artistas</h1>



<div class="container" id="artistas">
<%= link_to "Nuevo artista", new_admin_artista_path, class: "d-block mb-4" %>
  <% @artistas.each do |artista| %>
    <a href="<%= admin_artista_path(artista) %>" class="d-flex gap-2 align-items-center text-decoration-none text-secondary border border-1 rounded rounded-2 mb-2 p-2">
      <%= render artista %>
    </a>
  <% end %>
</div>

<div class="d-flex mt-4 m-auto justify-content-center">
<%== pagy_bootstrap_nav(@pagy) %>
</div>

