<% content_for :navsession do %>
<div class="d-flex gap-3 align-items-center">
    <a href="<%= admin_sesiones_destroy_path %>" class="btn btn-info ">Salir</a>
</div>
<% end %>

<%= render template: "layouts/application" %>