<% content_for :navsession do %>
<div class="d-flex gap-3 align-items-center">
    <a class="btn btn-outline-info" href="#">Registrate</a>
    <a class="btn btn-info" href="#">Soy cliente</a>
</div>
<% end %>
<%= render template: "layouts/application" %>