<% content_for :navsession do %>
<div class="d-flex gap-3 align-items-center">
    <span><%= @cliente.nombre %></span>
    <a class="btn btn-info" href="#">Cerrar Sesion</a>
</div>
<% end %>
<%= render template: "layouts/application" %>