<% content_for :navsession do %>
<div class="d-flex gap-3 align-items-center">
    <span class="text-white"><%= @cliente.nombre %></span>
    <%= link_to "Cerrar sesión", sesion_path, data: {turbo_method: :delete}, class: "btn btn-info" %>
</div>
<% end %>
<%= render template: "layouts/application" %>